
# vscode
.vscode/
*.code-workspace

# temporary
/temp/
__pycache__/

# sdk
/output/

# 临时静态库
# interim_binary/ws63/libs/wifi/

interim_binary/bs21/bin/nv/standard-bs21-n1100/bs21_all_nv.bin
tools/pkg/fwpkg/bs21/bs21_all.fwpkg

tools/bin/compiler/riscv/cc_riscv32_musl_b010/cc_riscv32_musl_fp/lib/sec/libsec_image.so
tools/pkg/fwpkg/bs21e/bs21e_all.fwpkg
